

#picture .pictureBack, #picture .pictureFront
{  
    width: 200px;
    height: 250px;    
    position: absolute;    /*css2:position property:  for this case, absolute make the two image overlaping*/  
    text-align: center; 
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -o-transition: -o-transform 2s ease-in-out;    
    -ms-transition: -ms-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;     /*specify a transition effect with a slow start and end*/
    -webkit-backface-visibility: hidden;    /*hidden the backside of a rotate<div> element*/
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
#picture .pictureFront
{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

#picture:hover .pictureFront
{    
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

#picture:hover .pictureBack
{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);    
}