#front
{  
      position: absolute;
	  
}
#back
{  
     position: absolute;
	 -webkit-backface-visibility: hidden;    /*hidden the backside of a rotate<div> element*/
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#front:hover
{    
    
}

#back:hover
{
    
}